
*.xml
x64/Debug/antism.tlog/antism.lastbuildstate
x64/Debug/antism.tlog/CL.command.1.tlog
x64/Debug/antism.tlog/unsuccessfulbuild
x64/Debug/antism.log
.vs/antism/v15/.suo
.vs/antism/v15/Browse.VC.db
.vs/antism/v15/Browse.VC.opendb
*.ipch
*.obj
*.obj
*.exe
Debug/ant.obj
Debug/ant.obj
Debug/antism.ilk
Debug/antism.log
*.obj
